.form-group {
  margin-left: 34%;
}

.txt-input {
  border: 1px solid rgb(182, 182, 182);
  border-radius: 5px;
  padding: 4px 5px 7px 5px;
  width: 40%;
  margin-right: 5px;
}
/* Percent */
.percent {
  min-width: 1px;
  height: 20px;
  background: #058dc7;
  color: #353535;
  text-align: center;
}
.negative-color .percent {
  background: #ffbb78 !important;
}
.negative-color {
  color: #ffbb78 !important;
}
.negative-gurus-color .percent {
  background: #ff7f0e !important;
}
.negative-gurus-color {
  color: #ff7f0e !important;
}
.positive-color .percent {
  background: #98df8a !important;
}
.positive-color {
  color: #98df8a !important;
}
.positive-gurus-color .percent {
  background: #2ca02c !important;
}
.positive-gurus-color {
  color: #2ca02c !important;
}

.non-style {
  list-style: none;
}
.pln {
  padding-left: 0px;
}
.mbs {
  margin-bottom: 5px;
}
.mbm {
  margin-bottom: 10px;
}
.mrs {
  margin-right: 5px;
}
.mls {
  margin-left: 5px;
}
.sentiment-analy {
  width: 76%;
}
.auto-overflow {
  overflow: auto;
}
.width-30pc {
  width: 30%
}
.width-70pc {
  width: 70%
}
.width-50pc {
  width: 50%;
}


/* Spiner */
.spin {
  -webkit-animation: spin .8s infinite linear;
  -moz-animation: spin .8s infinite linear;
  -o-animation: spin .8s infinite linear;
  animation: spin .8s infinite linear;
     -webkit-transform-origin: 50% 58%;
         transform-origin:50% 58%;
         -ms-transform-origin:50% 58%; /* IE 9 */
}
@-moz-keyframes spin {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}