<!doctype html>
<html lang="en">
  <title>Twitter Sentiment Analysis</title>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="@routes.Assets.at("lib/bootstrap/css/bootstrap.css")">
    <link rel="stylesheet" href="@routes.Assets.at("css/main.css")">
    <script data-main="@routes.Assets.at("js/config/requirejs-config.js")" src="@routes.Assets.at("lib/requirejs/require.js")"></script>
  </head>

  <body>
    <div class="container" ng-view ng-controller="analysisInfoController">
      <track-bar tracks='tracks' keywords='keywords'></track-bar>
      <analysis-info tracks='tracks' keywords='keywords'></analysis-info>
    </div>
    
  </body>
</html>
